<div class= "col-xs-10 col-xs-offset-1 about">
	<h1>About Hip-Hop Punchlines</h1>

	<p>
		Hip-Hop Punchlines is a web application designed and hacked together by <a target="_blank" href="https://github.com/lesureone">Larry LeSure</a>, as a way to pay homage to some of hip-hop music's most influential punchlines.  Hip-Hop Punchlines allow users to discover new punchlines from their favorite artist as well as add their own to the platform.
	</p>
	<br />
	<br/>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag "larry.png", :class=> "img-responsive" %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Larry LeSure</h2>
		<br />

		<p>
			Larry LeSure is a web developer with a passion for all things mobile and the internet.  Previously worked in business development and product management at Mojiva (acquired by PubMatic).  I'm an extreme hip-hop/rap music fan along with being a streetwear fashion connoisseur and sneakerhead.  Current projects include Hip-Hop Punchlines and sneakerGPS. 
		</p>


	</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />